django
celery[redis]
redis
black
djangorestframework
markdown
django-filter 
python-dotenv
requests
lxml
selenium
pre-commit
beautifulsoup4
virtualenv
kombu
django-celery-beat
psycopg2
jupyterlab
matplotlib
numpy
pandas
asyncio